<mat-accordion>
  <mat-expansion-panel *ngFor="let categoryKey of getCategoryKeys()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ getCategoryName(categoryKey) }} -ID: {{ categoryKey }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let check of getChecks(categoryKey)" class="checkName">
      <div (click)="onSelectCheck(check.id)">
        {{ check.checkName }} - ID: {{ check.id }}
      </div>
      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          !check.configuration.isRecurring &&
          check.configuration.isExpectingDocument &&
          check.configuration.isCheckDropdown &&
          check.configuration.checkDropDownOptions.count
        "
        [id]="check.id + '_check_options_dropdown'"
      >
        <mat-option [id]="check.id + '_check_option_select'" [value]="'Select'">
          Select
        </mat-option>
        <mat-option
          *ngFor="
            let option of check.configuration.checkDropDownOptions.options;
            let i = index
          "
          [id]="check.id + '_check_option_' + (i + 1)"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>

      <div
        *ngIf="
          isCheckSelected(check.id) &&
          !check.configuration.isRecurring &&
          check.configuration.isExpectingDocument &&
          check.configuration.isCheckDropdown &&
          check.configuration.checkDropDownOptions.count
        "
      >
        <input
          type="number"
          [(ngModel)]="check.configuration.checkDropDownOptions.countValue"
          min="0"
          step="1"
        />
        <button (click)="incrementCount(check)">+</button>
        <button (click)="decrementCount(check)">-</button>

        <div *ngIf="check.configuration.expectedDocuments">
          <mat-select [id]="check.id + '_document'" multiple>
            <mat-option
              *ngFor="
                let option of check.configuration.expectedDocuments.options;
                let i = index
              "
              [id]="check.id + '_document_option_' + i"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          !check.configuration.isRecurring &&
          check.configuration.isExpectingDocument &&
          (!check.configuration.isCheckDropdown ||
            !check.configuration.checkDropDownOptions.count)
        "
        [id]="check.id + '_document'"
      >
        <mat-option
          *ngFor="
            let option of check.configuration.expectedDocuments.options;
            let i = index
          "
          [id]="check.id + '_document_option_' + i"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-slide-toggle
        [checked]="isToggleChecked(check.id)"
        (change)="onToggleChange(check.id, $event)"
        *ngIf="isCheckSelected(check.id) && check.configuration.isRecurring"
        [id]="check.id + '_toggle'"
      >
      </mat-slide-toggle>
      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          check.configuration.isRecurring &&
          isToggleChecked(check.id)
        "
        [id]="check.id + '_dropdown'"
      >
        <mat-option
          *ngFor="
            let option of check.configuration.recurringOptions.options;
            let i = index
          "
          [id]="check.id + '_dropdown_option_' + i"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>
    </div>
  </mat-expansion-panel>

  <!-- <div class="selected-items-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Selected Items</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let selectedCheckId of selectedChecks">
          <div>
            {{ getCheckConfiguration(selectedCheckId) | json }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->
</mat-accordion>
