<!-- <div *ngFor="let dropdown of dropdownData">
    <h3>{{ dropdown.title }}</h3>
    <select>
      <option *ngFor="let option of dropdown.options" [value]="option.id">{{ option.name }}</option>
    </select>
  </div>
   -->
<!-- 
<mat-accordion>
  <mat-expansion-panel
    *ngFor="let dropdown of dropdownData"
    (opened)="matExpansionPanelExpanded = true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ dropdown.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="matExpansionPanelExpanded">
      <div
        *ngFor="let option of dropdown.options"
        class="option-item"
        (click)="selectOption(option)"
      >
        <div class="option-container">
          <span class="option-title">{{ option.name }}</span>
          <mat-slide-toggle
            *ngIf="
              isSelected(option) && shouldDisplayToggleButton(dropdown.title)
            "
            color="primary"
            (click)="$event.stopPropagation()"
          >
            {{ option.configuration?.isRecurring }}
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->

<mat-accordion>
  <mat-expansion-panel *ngFor="let categoryKey of getCategoryKeys()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ getCategoryName(categoryKey) }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let check of getChecks(categoryKey)">
      <div (click)="onSelectCheck(check.id)">
        {{ check.checkName }} - ID: {{ check.id }}
      </div>
      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          !check.configuration.isRecurring &&
          check.configuration.isExpectingDocument &&
          check.configuration.isCheckDropdown &&
          check.configuration.checkDropDownOptions.count
        "
        [id]="check.id + '_check_options_dropdown'"
      >
        <mat-option
          *ngFor="
            let option of check.configuration.checkDropDownOptions.options;
            let i = index
          "
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          !check.configuration.isRecurring &&
          check.configuration.isExpectingDocument &&
          (!check.configuration.isCheckDropdown ||
            !check.configuration.checkDropDownOptions.count)
        "
        [id]="check.id + '_document'"
      >
        <mat-option
          *ngFor="
            let option of check.configuration.expectedDocuments.options;
            let i = index
          "
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-slide-toggle
        [checked]="isToggleChecked(check.id)"
        (change)="onToggleChange(check.id, $event)"
        *ngIf="isCheckSelected(check.id) && check.configuration.isRecurring"
        [id]="check.id + '_toggle'"
      >
      </mat-slide-toggle>
      <mat-select
        *ngIf="
          isCheckSelected(check.id) &&
          check.configuration.isRecurring &&
          isToggleChecked(check.id)
        "
        [id]="check.id + '_dropdown'"
      >
        <mat-option
          *ngFor="
            let option of check.configuration.recurringOptions.options;
            let i = index
          "
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-select>
    </div>
  </mat-expansion-panel>
</mat-accordion>
